@{
    ViewData["Title"] = "Unauthorized Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COVID-19 - Government of Odisha</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/caps.css" />
    <style>
        html, body {
            height: 100%;
        }

        body {
            background-color: #fff;
        }

        .internal-error {
            font-size: 4rem;
        }

        h1 {
            font-size: 8rem;
        }

        h2 {
            font-size: 3rem;
        }

        h5 {
            font-weight: normal;
            line-height: 1.8rem;
        }

        footer {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container text-center h-100">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-md-10">
                <img src="~/img/unauthorized.png" alt="Unauthorized" width="400" />
                <h2 class="text-muted internal-error mt-3">Unauthorized access!</h2>

                @*@if (Model.ShowRequestId)
                    {
                        <p>
                            <strong>Request ID:</strong> <code>@Model.RequestId</code>
                        </p>
                    }*@


                <h5 class="my-4 ">
                    Access Denied!<br /> Please Login Again.
                </h5>

                <a href="/Account/Login" class="btn btn-primary px-lg-3">Login</a>
            </div>
        </div>
    </div>
</body>
</html>


