
@{
    string Glink = Context.Request.Query["Glink"];
    string Plink = Context.Request.Query["Plink"];
    ViewData["Title"] = "AddDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('/images/preloader.gif') 50% 50% no-repeat rgb(249,249,249);
    }
</style>
<div class="page-title">
    <div class="title-details">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-0 mb-0 bg-transparent" id="navigation">
            </ol>
        </nav>
    </div>

</div>
<div class="row">
    <div class="loader" id="image"></div>
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    @*<a class="nav-item nav-link active" asp-controller="Department" asp-action="AddDepartment">Add</a>
                        <a class="nav-item nav-link " asp-controller="Department" asp-action="ViewDepartment">View</a>*@
                    <a class="nav-item nav-link active" data-toggle="tooltip" id="DeptAdd">

                        Add
                    </a>
                    <a class="nav-item nav-link" data-toggle="tooltip" id="DeptView">

                        View
                    </a>
                </ul>
                <div class="indicatorslist">
                    @*<a title="" href="javascript:void(0)" id="backIcon" data-toggle="tooltip" data-placement="top" data-original-title="Back"><i class="icon-arrow-left1"></i></a>*@
                    <p class="ml-2">(*) Indicates mandatory </p>
                </div>
            </div>
            <!-- BASIC FORM ELEMENTS -->
            <!--===================================================-->
            <div class="card-body">
                <input type="text" id="hdnDeptId" hidden="hidden" value="0" class="form-control">
                <!--Static-->
                <!--Email Input-->
                <div class="form-group row">
                    <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-textarea-input">Department Name<span class="text-danger">*</span></label>
                    <div class="col-12 col-md-6 col-xl-4">
                        <select class="form-control" id="ddlDepartment" name="Sector" asp-items="@(new SelectList(ViewBag.Department, "DEPTID", "DEPTNAME" ))">
                            <option value="0">---Select---</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-email-input">Sector Name<span class="text-danger">*</span></label>
                    <div class="col-12 col-md-6 col-xl-4">
                        <select class="form-control" id="ddlSector" name="Sector" asp-items="@(new SelectList(ViewBag.Sector, "PANELID", "DISPLAYNAME" ))">
                            <option value="0">---Select---</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-textarea-input">Description</label>
                    <div class="col-12 col-md-6 col-xl-4">
                        <textarea id="txtDescription" rows="4" maxlength="500" class="form-control" placeholder="Enter description here.." onkeypress="return inputLimiter(event,'NameCharactersymbol')"></textarea>
                        <small class="text-danger"> (Max 500 Character(s) Allow.)</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-2 col-xl-2 control-label"></label>
                    <div class="col-12 col-md-6 col-xl-4">
                        <button id="btnSubmit" class="btn btn-success mb-1">Submit</button>
                        <button id="btnCancel" class="btn btn-danger mb-1">Reset</button>
                    </div>
                </div>
            </div>
            <!--===================================================-->
            <!-- END BASIC FORM ELEMENTS -->
        </div>
    </div>
</div>
<script src="~/js/department.js"></script>
<script>
    $(document).ready(function () {
        $("#image").hide();
        document.getElementById("DeptAdd").href = "../Department/AddDepartment?Glink=" + decodeURI(getUrlVars()["Glink"]) + "&Plink=" + decodeURI(getUrlVars()["Plink"]);
        document.getElementById("DeptView").href = "../Department/ViewDepartment?Glink=" + decodeURI(getUrlVars()["Glink"]) + "&Plink=" + decodeURI(getUrlVars()["Plink"]);
        loadNavigation('ViewDepartment', 'gldata', 'plbdodata', 'Manage Master', 'Manage Department', 'View Department');
        $(document).on('focus', ".datepicker", function () {
            $(this).datepicker({
                format: "dd-M-yyyy",
                todayBtn: "linked",
                autoclose: true,
                //startDate: '-30d',
                endDate: new Date(),
                todayHighlight: true
            });
        });
        var deptId = getUrlVars()["ID"];
        if (deptId != undefined) {
            $("#btnSubmit").html("Update");
            $("#btnCancel").html("Cancel");
            bindDepartmentById(deptId);
        }
    });
</script>

