@model ABP.Domain.Report.Report
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Glink = Context.Request.Query["Glink"];
    string Plink = Context.Request.Query["Plink"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ListData = ViewBag.BlockData as Task<IEnumerable<ABP.Domain.Login.Login>>;
}


<style>

    .table tr td, .table tr th {
        padding: 5px 0px;
        text-align: center;
        vertical-align: middle;
    }
</style>


<div class="page-title">
    <div class="title-details">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-0 mb-0 bg-transparent" id="navigation">
            </ol>
        </nav>
    </div>

</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <a class="nav-item nav-link" data-toggle="tooltip" id="tabMonthly">

                        @*Monthly*@
                    </a>
                    <a class="nav-item nav-link active" data-toggle="tooltip" id="tabAnnually">

                        @*Annualy*@
                    </a>
                </ul>
                <div class="indicatorslist">
                    @*<a title="" href="javascript:void(0)" id="backIcon" data-toggle="tooltip" data-placement="top" data-original-title="Back"><i class="icon-arrow-left1"></i></a>*@
                    @*<p class="ml-2">(*) Indicates mandatory </p>*@
                </div>
            </div>
            <div class="card-body">
                <form method="post" id="dashsearch">
                    <div class="form-group row">

                        @*<div class="col-12 col-md-6 col-xl-4">
                                <label class="control-label" for="demo-email-input">District</label>
                                <select class="form-control" id="ddlDistrict" name="DistrictId" asp-for="DistrictId" asp-items="@(new SelectList(ViewBag.DistrictData, "DISTRICTID", "DISTRICT_NAME" ))">
                                    <option value="0">---Select---</option>
                                </select>
                            </div>*@
                        @*<div class="col-12 col-md-6 col-xl-4 mt-4">
                                <button id="btnSearch" class="btn btn-primary"> Search</button>
                            </div>*@

                    </div>
                    <div class="col-lg-2">
                    </div>
                </form>
                <br />

                <div class="table-responsive" id="printtable">
                    @if (ListData != null)
                    {
                        <table class="table" id="tblprod">
                            <thead>
                                <tr>
                                    <th width="50px">Sl No. </th>
                                    <th>District name </th>
                                    <th>User Name </th>
                                    <th width="150px">Action </th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var count = 1;
                                }
                                @foreach (var item in ListData.Result)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.nvchlevelname</td>
                                        <td>@item.vchfullname</td>
                                        <td><a onclick="" class="btn btn-outline-primary">Send Email</a> </td>
                                    </tr>
                                    count++;
                                }
                            </tbody>
                        </table>
                    }
                </div>


            </div>
        </div>
    </div>
</div>
<script>
                                $(document).ready(function () {
                                             gl = decodeURI(getUrlVars()["Glink"]);
        pl= decodeURI(getUrlVars()["Plink"]);

        if (gl == 'undefined') {
            gl = 0;
        }
        if (pl == 'undefined') {
            pl = 0;
        }
                                     document.getElementById("tabMonthly").href = "../Home/Dashboard?Glink=" + gl + "&Plink=" + pl;
    document.getElementById("tabAnnually").href = "../Home/MailWiseBlockReport?Glink=" + gl + "&Plink=" + pl;
                                    loadNavigation('AddBDOData', 'gldata', 'plbdodata', 'Home', 'Dashboard', 'Dashboard');
                                    document.getElementById("dashsearch").href = "../Home/DistDashboard?Glink=" + decodeURI(getUrlVars()["Glink"]) + "&Plink=" + decodeURI(getUrlVars()["Plink"]);

                                });

</script>
<script>
    // print function
    function PrintPage() {
        var windowName = "PrintPage";
        var wOption = "width=900,height=600,menubar=yes,scrollbars=yes,location=no,left=100,top=100";
        var cloneTable = $("#printtable").clone();
        var head = $('#printtable thead tr');

        cloneTable.find('input[type=text],select,textarea').each(function () {
            var elementType = $(this).prop('tagName');
            if (elementType == 'SELECT') {

                if ($(this).val() > 0)
                    var textVal = $(this).find("option:selected").text();
                else
                    textVal = '';
            } else
                var textVal = $(this).val();
            $(this).replaceWith('<label>' + textVal + '</label>');
        });
        cloneTable.find('a').each(function () {
            var anchorVal = $(this).html();
            $(this).replaceWith('<label>' + anchorVal + '</label>');
        });

        var pageTitle = $("#title").text();
        var wWinPrint = window.open("", windowName, wOption);
        wWinPrint.document.write("<html><head><link href='../../css/bootstrap.min.css' rel='stylesheet'><link href='../../css/print.css' rel='stylesheet'><link href='../../css/custom.css' rel='stylesheet'><title>Block Monitoring Programme</title></head><body>");
        wWinPrint.document.write("<div id='header' class='mb-2 d-flex align-items-center justify-content-between'><h4 class='d-flex align-items-center'><img src='../images/Odisha_logo_Black.png' alt='Block Monitoring Programme' width='70' class='mr-2'>Block Monitoring Programme </h4><div class='pull-left text_logo'><h4 class='logo'><a href='javascript:void(0)' class='btn btn-success btn-sm pull-right' style='float:right;' title='Print' onclick='$(this).hide();window.print();$(this).show();'>Print</a></h4></div></div>")
        wWinPrint.document.write("<div><div class='float-left'>For the Year:- " + $("#ddlYear").val()+"</div><div class='legend-box float-right'><a href='#' class='text-success'>  <span class='back-green'></span> <strong>100% Completed </strong> </a><a href='#' class='text-warning'>  <span class='back-yellow'></span>  <strong> &gt;50% Completed</strong> </a><a href='#' class='text-danger'>  <span class='back-red'></span>  <strong>&lt; 50% Completed </strong></a></div></div>");
        wWinPrint.document.write("<div id='printHeader'>" + pageTitle + "</div>");
        wWinPrint.document.write("<div id='printContent'>" + cloneTable.html() + "</div>");
        wWinPrint.document.write("<div id='printFooter' class='text-center'>&copy; 2023 - Block Monitoring Programme</div>");
        wWinPrint.document.write("</body></html>");
        wWinPrint.document.close();
        wWinPrint.focus();
        return wWinPrint;
        $('#title').append(title);
        printHeader = title;
    }
    $('#btnSearch').click(function(){
        if($('#ddlYear').val()==0){
            bootbox.alert('Please Select any year!');
            return false;
        }
    })
</script>
<script>
    function CheckEntered()
    {
         $("tbody").find("tr").each(function() {
             $(this).show();
             var textvalue1=$(this).find('td.back-yellow');
             var textvalue2=$(this).find('td.back-green');
             var textvalue3=$(this).find('td.back-red');
             if(textvalue1.length==0&&textvalue2.length==0&&textvalue3.length==0)
                {
                    $(this).hide();
                }
         });
         DyncSlno();
    }
     function CheckNotEntered()
    {
         $("tbody").find("tr").each(function() {
             $(this).show();
             var textvalue1=$(this).find('td.back-yellow');
             var textvalue2=$(this).find('td.back-green');
             var textvalue3=$(this).find('td.back-red');
             if(textvalue1.length!=0||textvalue2.length!=0||textvalue3.length!=0)
                {
                    $(this).hide();
                }
         });
         DyncSlno();
    }
     function CheckAll()
    {
         $("tbody").find("tr").each(function() {
             $(this).show();
         });
          DyncSlno();
    }
      function DyncSlno(){
           var count=1;
         $("tbody").find("tr").each(function() {
            if($(this).css('display')=='table-row'){
                $(this).find('td:eq(0)').text(count);
                count++;
            }
        });

    }

    function bindBlock() {
        var id = $('#ddldistrict').val();
        $.getJSON("../Mailer/Blocklist", { did: id }, function (data) {
            var row = '<option value="">Select  </option>';
            console.log(data);
            $("#ddlblock").empty();
            for (var i = 0; i < data.length; i++) {
                row += '<option value=' + data[i].username + '>' + data[i].blocK_NAME + '</option>';
            }
            $("#ddlblock").append(row);
        })
    }
    $('#ddlblock').change(function () {
        $("#hdnUserName").val($('#ddlblock').val());
    });

    //$(window).on("load", function () {
    //    GetDistrictDetails();
    //});

    //function GetDistrictDetails() {
    //    $("#tblprod tbody tr").remove();
    //    $.getJSON("DistrictBind/DistrictReport", function (prods) {
    //        //prods=JSON.parse(prods);
    //        $.map(prods, function (prod) {
    //            $("#tblprod tbody").append(
    //                `<tr> <td>` + prod.id + `</td><td>` + prod.catName + `</td><td>` + prod.subCatName + `</td><td>` + prod.name + `</td><td>` + prod.price + `</td><td>` + prod.quantity + `</td><td><img height=50 width=50 src="` + prod.photo + `"></td><td><button class="btn btn-primary" onclick="Edit(` + prod.id + `)">Edit</button><button class="btn btn-primary" onclick="Delete(` + prod.id + `)">Delete</button></td></tr>`);
    //        });
    //    });
    //}



</script>




