@model ABP.Domain.Login.Login
@{
    Layout = null;
    var ListData = ViewBag.DashboardList as Task<IEnumerable<ABP.Domain.Login.Login>>;

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Password</title>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="~/js/aes.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <link href="../css/login-new.css" rel="stylesheet">
</head>
<body>
    <div class="mainsection">
        <div class="d-flex align-items-center">
            <div class="container">
                <div class="card login-card">
                    <div class="no-gutters">

                        <div class="">
                            <div class="card-body">
                                <div class="brand-wrapper">
                                    <img src="../images/Odisha_logo_Black.png" alt="odisha Govt logo" class="logo">
                                </div>
                                <p class="login-card-description">Block Monitoring Programme<br> <small> Government of Odisha</small></p>

                                <div class="sdg-full">Change Password</div><br /><br />

                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="">User Name</label>
                                        <input type="text" id="txtUser" class="form-control" placeholder="Enter The User Name" value="@ViewBag.Username" disabled />
                                    </div>
                                    <div class="form-group">
                                        <label class="">New Password</label>
                                        <input type="password" id="txtpass" class="form-control" placeholder="Enter The Password" />
                                    </div>
                                    <div class="form-group">
                                        <label class="">Confirm Password</label>
                                        <input type="password" id="txtrepass" class="form-control" placeholder="Enter The Re-Enter Password" />
                                    </div>
                                    <input type="submit" class="btn btn-primary" name="btnSubmit" id="login">
                                    <input type="reset" class="btn btn-danger" name="btnreset" id="reset">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
<script>
      $(".allow_numeric").on("input", function(evt) {
         var self = $(this);
         self.val(self.val().replace(/\D/g, ""));
         if ((evt.which < 48 || evt.which > 57))
          {
  	      evt.preventDefault();
          }
      });
      function SubmitsEncry(strCntrol) {
          var strData = $('#' + strCntrol).val();
          var key = CryptoJS.enc.Utf8.parse('8080808080808080');
          var iv = CryptoJS.enc.Utf8.parse('8080808080808080');
          var encryptedlogin = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(strData), key,
              {
                  keySize: 128 / 8,
                  iv: iv,
                  mode: CryptoJS.mode.CBC,
                  padding: CryptoJS.pad.Pkcs7
              });
          $('#' + strCntrol).val(encryptedlogin);
    }
    function checkForm() {
        var txtpass = $('#txtpass').val();
        var txtrepass = $('#txtrepass').val();

        if (txtpass != txtrepass) {
            bootbox.alert('PassWord & ConfirmPassword Cannot Be Different!');
            return false;
        }

        else if (txtpass == '' || txtpass == null) {
            bootbox.alert('PassWord cant be blank');
            return false;
        }
        else if (txtrepass == '' || txtrepass == null) {
            bootbox.alert('ConfirmPassWord cant be blank!');
            return false;
        }
        else if (txtpass != txtrepass) {
            bootbox.alert('PassWord & ConfirmPassword should be same!');
            return false;
        }
        else {
            SubmitsEncry('txtpass');
            return true;
        }
    }
    $('#login').click(function () {
        if (checkForm()) {
               $.ajax({
                   type: "post",
                   url: '@Url.Content("~/")' + 'Login/ChangePasswordReq',
                   data: { Password: $('#txtpass').val(), UserName: $('#txtUser').val() },
                   cache: false,
                   async: false,
                   dataType: 'Json',
                   success: function (data) {
                       var result = data.data;
                       if (result == '2') {
                           bootbox.alert('Password updated successfully!', function () {
                               window.location.href = "/Login/Login";
                           });
                       }
                       else if (result == '1')
                       {
                               bootbox.alert('Password could not updated!', function () {
                                   window.location.href ="/Home/Logout";
                               });
                       }
                       else
                       {
                            bootbox.alert('Password could not updated!', function () {
                            window.location.reload();
                         });
                       }
                   },
                   error: function (e, ts, et) {
                       alert(ts);
                   }
               });
           }
      });
</script>



