@model ABP.Domain.Login.Login
@{
    Layout = null;
    var ListData = ViewBag.DashboardList as Task<IEnumerable<ABP.Domain.Login.Login>>;

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Password</title>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="~/js/aes.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <link href="../css/login-new.css" rel="stylesheet">
</head>
<body>
    <div class="mainsection">
        <div class="d-flex align-items-center">
            <div class="container">
                <div class="card login-card">
                    <div class="no-gutters">
                        <div class="">
                            <div class="card-body">
                                <div class="brand-wrapper">
                                    <img src="../images/Odisha_logo_Black.png" alt="odisha Govt logo" class="logo">
                                </div>
                                <p class="login-card-description">Block Monitoring Programme<br> <small> Government of Odisha</small></p>
                                <div class="sdg-full">Reset Password</div><br /><br />
                                <form method="post" id="resetPasswordForm">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="">New Password</label>
                                            <input type="password" id="newPassword" class="form-control" placeholder="Enter New Password" />
                                        </div>
                                        <div class="form-group">
                                            <label class="">Confirm Password</label>
                                            <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" />
                                        </div>
                                        <button type="submit" class="btn btn-primary" id="btnSubmit">Submit</button>
                                        <button type="reset" class="btn btn-danger" id="btnReset">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        $(".allow_numeric").on("input", function (evt) {
            var self = $(this);
            self.val(self.val().replace(/\D/g, ""));
            if ((evt.which < 48 || evt.which > 57)) {
                evt.preventDefault();
            }
        });

        function SubmitsEncry(strCntrol) {
            var strData = $('#' + strCntrol).val();
            var key = CryptoJS.enc.Utf8.parse('8080808080808080');
            var iv = CryptoJS.enc.Utf8.parse('8080808080808080');
            var encryptedlogin = CryptoJS.AES.encrypt(strData, key, {
                iv: iv,
                padding: CryptoJS.pad.Pkcs7
            });
            return encryptedlogin.toString();
        }

        $('#resetPasswordForm').submit(function (e) {
            e.preventDefault();
            var newPassword = SubmitsEncry('newPassword');  // Encrypt the password
            var confirmPassword = SubmitsEncry('confirmPassword');  // Encrypt the confirmation password

            if (newPassword !== confirmPassword) {
                alert('Passwords do not match.');
                return;
            }

            $.ajax({
                url: '/Login/ChangeOtpPasswordReq',
                type: 'POST',
                data: {
                    NewPassword: newPassword,
                    ConfirmPassword: confirmPassword
                },
                success: function (data) {
                    alert('Password reset successful.');
                    window.location.href = '/Login';
                },
                error: function (error) {
                    alert('Error resetting password.');
                }
            });
        });
    });

</script>





