@model ABP.Domain.Login.OTP.ForgetPassword
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = null;
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forget Password</title>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="~/js/aes.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <link href="../css/login-new.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>
    <div class="mainsection">
        <div class="d-flex align-items-center">
            <div class="container">
                <div class="card login-card">
                    <div class="no-gutters">
                        <div class="">
                            <div class="card-body">
                                <div class="brand-wrapper">
                                    <img src="../images/Odisha_logo_Black.png" alt="odisha Govt logo" class="logo">
                                </div>
                                <p class="login-card-description">Block Monitoring Programme<br> <small> Government of Odisha</small></p>
                                <div class="sdg-full">Forget Password</div>
                                <div class="form-horizontal">
                                    <form asp-action="ForegetPassword" method="post" id="forgetPasswordForm">

                                        <div class="form-group">
                                            <label class="">User Name</label>
                                            <input type="text" id="txtUser" class="form-control" name="UserName" placeholder="Enter The User Name" />
                                        </div>
                                        <div class="form-group">
                                            <label class="">Registered Phone Number</label>
                                            <input type="text" id="txtphone" name="MobileNumber" class="form-control" placeholder="Enter Registered Mobile Number" />
                                        </div>

                                        <div class="form-group">
                                            <label for="user">Captcha</label>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <input asp-for="strCaptcha" class="form-control" min="0" required="required" id="txtCaptcha" autocomplete="off" placeholder="Enter Captcha" maxlength="5">
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="input-group-append captcha">

                                                        <img id="captchimg" src="~/get-captcha-image" alt="Captcha Image">
                                                        <a href="#" id="img-captcha" class="login-ref" onclick="refreshCaptcha()"><i class="fas fa-sync-alt" aria-hidden="true"></i></a>
                                                        @ViewBag.IsVerified
                                                    </div>
                                                </div>
                                            </div>


                                            @* <small id="captchaError" class="text-danger" style="display: none;">Incorrect Captcha. Please try again.</small>*@
                                        </div>
                                        <button type="submit" class="btn login-btn mt-3 w-auto" id="btnSendOTP">Send OTP</button>
                                        <div id="timer" style="display: none;">Time left: <span id="countdown"></span> seconds</div>
                                        <div class="form-group" id="otpSection" style="display: none;">
                                            @*<label class="mb-2">OTP</label>*@
                                            <div class="input-field d-flex align-items-center" style="display: inline-block; margin-left: 10px;">
                                                <input type="text" id="otp" class="form-control mr-2" maxlength="4" placeholder="OTP" style="width: 80px;" />
                                                <button type="button" id="btnVerifyOTP" class="btn btn-primary">Verify OTP</button>
                                            </div>
                                            <div id="verificationMessage" class="text-success">@TempData["VerificationMessage"]</div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $(document).ready(function () {
        // Function to refresh captcha
        function refreshCaptcha() {
            $('#txtCaptcha').val('');
            $('#captchaError').hide();
            resetCaptchaImage();
        }

        // Function to reset captcha image
        function resetCaptchaImage() {
            $.ajax({
                url: '/get-captcha-image',
                method: 'GET',
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (response) {
                    var imageUrl = URL.createObjectURL(response);
                    $('#captchimg').attr('src', imageUrl);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        $('#img-captcha').click(function () {
            refreshCaptcha();
        });

        // Input event for captcha text
        $('#txtCaptcha').on('input', function () {
            var captchaInput = $(this);
            var enteredCaptcha = captchaInput.val();

            if (enteredCaptcha.length > 5) {
                $('#captchaError').text('Captcha length cannot exceed 5 characters.');
                $('#captchaError').show();
                captchaInput.addClass('is-invalid');
            } else {
                $('#captchaError').hide();
                captchaInput.removeClass('is-invalid');
            }
        });

        // Click event for Send OTP button
        $('#btnSendOTP').click(function () {
            var enteredCaptcha = $('#txtCaptcha').val();
            var captchaCode = $('#captchaCode').data('captcha-code');

            if (enteredCaptcha !== captchaCode) {
                $('#captchaError').text('Incorrect Captcha. Please try again.');
                $('#captchaError').show();
                return false; // Prevent form submission
            }
        });
    });



</script>

<script>
    $(document).ready(function () {
        $('#btnSendOTP').click(function () {
            debugger;
            //var form = $('#forgetPasswordForm');
            var phoneNumber = $('#txtphone').val();
            var enteredCaptcha = $('#txtCaptcha').val();
            var enterUser = $('#txtUser').val();
            var forgetPassword = {
                UserName: enterUser,
                MobileNumber: phoneNumber,
                strCaptcha: enteredCaptcha,

            };
            // Check if any of the fields are blank
            if (enterUser.trim() === '' || phoneNumber.trim() === '' || enteredCaptcha.trim() === '') {
                alert('All fields are required.');
                otpFieldVisible = false;
                $('#otpSection').hide();
                refreshCaptcha();
            } else {
                otpFieldVisible = true;
            }
            $.ajax({
                url: '/Login/ForgetPassword',
                type: 'POST',
                data: forgetPassword,
                success: function (data) {
                    if (data.success === false) {

                        alert('Invalid UserName Or PhoneNumber');
                        $('#txtUser').val('');
                        $('#txtphone').val('');
                        $('#txtCaptcha').val('');
                        $('#otp').val('');
                        otpFieldVisible = false;
                        $('#errorMessage').text(data.message).show();
                    } else if (enteredCaptcha != null) {
                        console.log(data);
                        $('#btnSendOTP').hide();
                        $('#otpSection').show();
                    }
                    else {
                        alert('Enter Captcha');
                    }
                },
                error: function (error) {
                    console.error('Error sending form data:', error);
                }
            });

        });

        $('#otp').on('input', function () {
            var otpInput = $(this);
            var otp = otpInput.val();

            if (otp.length === 4) {
                $('#btnVerifyOTP').focus();
            }
        });


    });

</script>
<script>
    //function encryptData(data, key) {
    //    var iv = CryptoJS.lib.WordArray.random(16);
    //    var encryptedData = CryptoJS.AES.encrypt(data, key, {
    //        iv: iv,
    //        padding: CryptoJS.pad.Pkcs7,
    //        mode: CryptoJS.mode.CBC
    //    });
    //    return iv.concat(encryptedData.ciphertext).toString(CryptoJS.enc.Base64);
    //}

    //$(document).ready(function () {

    //    $('#btnVerifyOTP').click(function () {
    //        var enteredOTP = $('#otp').val();
    //        var phoneNumber = $('#txtphone').val();
    //        var enterUser = $('#txtUser').val();

    //        $.ajax({
    //            url: '/VerifyOtp',
    //            type: 'POST',
    //            data: {
    //                PhoneNumber: phoneNumber,
    //                OTP: enteredOTP,
    //                Username: enterUser
    //            },
    //            //beforeSend: function (xhr) {
    //            //    debugger
    //            //    xhr.setRequestHeader("RequestVerificationToken", $('input[name="_RequestVerificationToken"]').val());
    //            //},
    //            success: function (data) {
    //                if (data.success) {
    //                    // Redirect to ChangeOtpPasswordReq with session data
    //                    var redirectUrl = '/Login/ChangeOtpPasswordReq?username=' + encodeURIComponent(data.username) +
    //                        '&phoneNumber=' + encodeURIComponent(phoneNumber);
    //                    window.location.href = redirectUrl;
    //                } else {
    //                    console.error('Invalid OTP:', data.message);
    //                }
    //            },
    //            error: function (error) {
    //                console.error('Error verifying OTP:', error);
    //            }
    //        });
    //    });
    //});

    function encryptData(data, key) {
        var iv = CryptoJS.lib.WordArray.random(16);
        var encryptedData = CryptoJS.AES.encrypt(data, key, {
            iv: iv,
            padding: CryptoJS.pad.Pkcs7,
            mode: CryptoJS.mode.CBC
        });
        return iv.concat(encryptedData.ciphertext).toString(CryptoJS.enc.Base64);
    }
    //DECRYPT FUNCTION
    function decryptData(encryptedData, key) {
        var raw = CryptoJS.enc.Base64.parse(encryptedData);
        var iv = raw.clone();
        iv.sigBytes = 16;
        iv.clamp();
        var ciphertext = raw.clone();
        ciphertext.sigBytes -= 16;
        var decrypted = CryptoJS.AES.decrypt({ ciphertext: ciphertext }, CryptoJS.enc.Hex.parse(key), {
            iv: iv,
            padding: CryptoJS.pad.Pkcs7,
            mode: CryptoJS.mode.CBC
        });
        return decrypted.toString(CryptoJS.enc.Utf8);
    }
    //MAIN FUNCTION
    $(document).ready(function () {
        $('#btnVerifyOTP').click(function () {
            var enteredOTP = $('#otp').val();
            var phoneNumber = $('#txtphone').val();
            var enterUser = $('#txtUser').val();

            $.ajax({
                url: '/VerifyOtp',
                type: 'POST',
                data: {
                    PhoneNumber: phoneNumber,
                    OTP: enteredOTP,
                    Username: enterUser
                },
                success: function (data) {
                    if (data.success) {
                        // Encrypt the URL
                        var redirectUrl = '/Login/ChangeOtpPasswordReq?username=' + encodeURIComponent(data.username) +
                            '&phoneNumber=' + encodeURIComponent(phoneNumber);
                        var encryptedUrl = encryptData(redirectUrl, 'yourEncryptionKey');

                        // Redirect to the ChangePassword page with the encrypted URL
                        window.location.href = '/Login/ChangeOtpPasswordReq?encryptedUrl=' + encodeURIComponent(encryptedUrl);
                    } else {
                        console.error('Invalid OTP:', data.message);
                    }
                },
                error: function (error) {
                    console.error('Error verifying OTP:', error);
                }
            });
        });
    });

</script>




